
@{
    ViewData["Title"] = "Index";
}

<h2>Fetch data using API</h2>


<input type="text" id="movie-id" />
<input type="button" id="fetch-data-button" value="Get Data"  />

<h2 id="movie-title"></h2>
<div id="movie-overview"></div>


@section Scripts
{
    <script>
        $(document).ready(
            function () {
                $("#fetch-data-button").on("click", function () {
                    var movieId = $("#movie-id").val();
                    $.getJSON("/Api/v1/movies/" + movieId,
                         function (data) {
                             $("#movie-title").text(data.title);
                             $("#movie-overview").text(data.overview);
                            })
                })
            }
        )
    </script>
}